@model UaiLink.Models.UsuarioDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>  
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UaiLink</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Cadastro_Login.css" />
</head>

<body>
    <div class = "Container">
        <div class="row" style= "width:100%; height: 100%">
            <div class="col-md-6" style="height: 100%">
                <div class="imagemDeFundo"> 
                </div>
            </div>
            <div class="col-md-6">
                @if(TempData["Login"] != null)
                {
                    <div class="alert alert-danger" role="alert" style="margin-top:20px">
                        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">x</button>
                          @TempData["Login"]
                    </div>
                }
                <h1 class ="Titulo" style="margin-top: 20%">Entrar</h1>
                <form asp-action="Logar">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div style="margin-top: 2%; margin-bottom: 2%">
                         <div class="Form-group">
                            <input asp-for="Email" class="form-control" placeholder="Email"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div style="margin-top: 2%; margin-bottom: 2%">
                         <div class="Form-group">
                            <input asp-for="Senha" type="password" class="form-control" placeholder="Senha"/>
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                    </div>

                    <div style="margin: 0 auto;margin-top: 3%; width: 50%;">
                        <div class="Form-group">
                            <input type="submit" value="Logar" class="ButtonCadastro" />
                        </div>
                    </div>
                </form>

                <div class = "Row" style="margin-top: 2%; margin-bottom: 2%; height: 10px">
                        <div style="width:55%;text-align: right;">
                            <a class = "Texto" style = "color:#8345D7">Não possui cadastro?</a>
                        </div>
                        <div style="width:35%;">
                             <a class="Texto" asp-action="create">Criar Conta</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
